body {
  background-image: url("1.jpg");
  background-size: auto;
  background-attachment: fixed;
}

img {
  width: 210px;
}

.col {
  float: left;
  font-size: 15px;
  width: 300px;
  padding: 10px;


}

.side {
  font-size: 28px;

}

.sidebar {
  float: left;
  width: 210px;
  font-style: italic;
  font-family: Courier;
  border-style: solid;
  margin: 20px;
}

.show {
  float: left;
  width: 300px;
  font-size: 25px;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
}
